
body {
  opacity: 1.0;
  -webkit-transition: background 1.5s linear;
  -moz-transition: background 1.5s linear;
  -o-transition: background 1.5s linear;
  -ms-transition: background 1.5s linear;
  transition: background 1.5s linear;
  transition: background-image 1s ease-in-out;
  background-image: url(../../../images/global/def_Grid.png);
  padding-top: 20px;
}

/* @media screen and (max-width: 768px) {
    body { padding-top: 0px; }
} */

p {
  font-size: 1.3rem;
  line-height: 1.7;
  padding-bottom: 10px;
  padding-top: 10px;
}

h1 {
  font-size: 3rem;
  font-style: bold;
  text-rendering: geometricPrecision;
  text-align: center;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

table, th, td {
  border: 2px solid rgb(62, 62, 62);
  padding: 12px;
}

strong {
  background-color: #b1ffdd3b !important;
  font-weight: 100;
}

th tr td {
  border: 2px solid rgb(0, 0, 0); 
  color: white;
  background-color: rgb(48, 48, 48);
}

strong {
  background-color: #494949;
}

tbody :nth-child(even) td {
  background-color: #ececec;
}
table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Ibm Plex Mono';
  font-size: 13px;
  font-weight: bold;
}
th {
  font-size: 1em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 33em;
  margin-top: 30px;
  margin-bottom: 30px;
}
.wrapper {
  font-family: 'IBM Plex Mono';
}

.cards {
  margin-right: auto;
  margin-left: auto;
}

.container-narrow {
  margin: 0 auto;
  min-width: 700px !important;
  max-width: 1000px !important;
}

.container-content{
  padding-top: 60px;
}

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; 
}

.navbar .ui{
  padding: 0;
}

.navbar-inner {
  border: none;
  border-radius: 0;
}

.navbar {
  background-image: linear-gradient(to right, black, rgb(34, 34, 34), black);
  font-family: 'Roboto', monospace;
}

.brand {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  color: rgb(255, 255, 255) !important; /* Overrides bootstrap.min.css */
  text-shadow: none;
  text-rendering: geometricPrecision;
  font-weight: normal;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  text-align: center;
}

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

.content {
  font-family: 'Frank Ruhl Libre', serif;
  background-color: white;
  padding: 45px;
  line-height: 20pt;
}

blockquote {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(200,200,200);
  color: rgb(100,100,100);
  padding-left: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
}

blockquote p{
  font-size: 20px;
  line-height: 30px;
}

.introtext {
  color:  rgb(0, 0, 0);
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: rgb(3, 3, 3);
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color:rgb(0, 0, 0); 
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 17px;
  line-height: 26px
}

h2,h3,h4,h5 {
  padding-top:20px;
  padding-bottom: 20px;
}

h2 {
  margin: 20px;
  margin-left: 0px;
  text-rendering: geometricPrecision;
  font-size: 2.3em;
  padding-top: 30px;
  padding-bottom: 30px;
}

p::-moz-selection {
  background: #fff2a8;
}
p::selection {
  background: #fff2a8;
}

strong::selection {
  background: rgb(137, 245, 182);
}

a::selection {
  background: rgb(238, 252, 255);
}

h2::selection {
  background: black;
  color: white;
}

blockquote p::selection{
  background: #e5caff;
}

code {
  background-color: rgb(27, 25, 27) !important;
  color: white;
  background-color: inherit !important;
  /* color: white; */
  /* margin: 20px !important; */
}

pre {
  color: white;
  background-color: #a996c0;
  padding: 40px;
}

.page-header {
  padding-top: 50px;
  padding-bottom: 9px;
  font-family: 'Frank Ruhl Libre', serif;
  text-align: center;
}
  
/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  /* font-size: 17px; */
  /* line-height: 20px; */
  left: 0;
  color: white;
  background-color: rgb(29, 29, 29); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 90px;
  font-family: 'Roboto', monospace;
  /* box-shadow: 5px 10px #888888; */
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 10px;
  text-decoration: none;
  font-size: .9em;
  display: block;
  color: rgb(122, 122, 122);
}

.sidenav .current {
  border-style: solid;
  border-width: 0px;
  border-right-width: 6px;
  border-right-color: rgb(105,238,166);
}

.sidenav .currentguide {
  border-style: solid;
  border-width: 0;
  border-right-width: 30px;
  border-color: rgb(221,211,255);
  color: #ddd7ff;
}

.sidenav .current .a {
  color: black;
}

.sidenav .nav-header {
  font-weight: bold;
}
.sidenav ol {
  border-bottom-color: black;
  list-style: none;

}

h6 {
  /* color: rgb(117, 117, 117); */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #d8d8d8;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    width: 200px;
  }
  .sidenav a {font-size: 18px;}
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 153, 140); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* New item background badge */
.newitem {
  background-image: url(../../../images/global/new_tag.png);
  background-position: fixed;
  background-position: right 30px center;
  background-repeat: no-repeat;
}

/* Modified item background badge */
.moditem {
  background-image: url(../../../images/global/mod_tag.png);
  background-position: fixed;
  background-position: right 30px center;
  background-repeat: no-repeat;
}

.sketchfab-embed-wrapper {
  padding: 30px;
}