body {
  /* opacity: 1.0;
  -webkit-transition: background 1.5s linear;
  -moz-transition: background 1.5s linear;
  -o-transition: background 1.5s linear;
  -ms-transition: background 1.5s linear;
  transition: background 1.5s linear;
  transition: background-image 1s ease-in-out;
  background-image: url(../../../images/global/white.png);
  padding-top: 20px; */
}

.wrapper {
  width: 100%;
  align-items: stretch;
}

/* @media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
} */

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 990;
  background: #ffffffed;
  color: #091134;
  transition: all 0.3s;
  padding: 20px;
}

#sidebarCollapse {
  font-size: 1.5rem !important;
}

#sidebar.active {
  margin-left: -350px;
}

#openSidebar {
  position: fixed;
  left: 20px;
  top: 20px;
  transition: all 0.3s;
  z-index: 999;
}

.fixedRightOver {
  left: 300px !important;
}

.top-right {
  position: fixed;
  right: 20px;
  top: 20px
}

.bottom-right {
  position: fixed;
  right: 35px;
  bottom: 40px;
}

.bottom-right img {
  max-width: initial;
}

.topnav {
  margin-left: 100px;
  margin-right: 100px;
  background-color: white !important;
  border-top-color: orange;
  /* border-top-style: solid; */
}

p {
  font-size: 1.3rem;
  line-height: 1.65;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 4.8rem;
  color: rgb(44, 44, 44);
  text-rendering: geometricPrecision;
  text-align: center;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

table,
th,
td {
  border: 2px solid rgb(62, 62, 62);
  padding: 12px;
}

/* Overrides bold styling */
strong {
  /* background-color: #ab86c8 !important; */
  border-style: solid;
  border-color: #efefef;
  border-width: medium;
  font-weight: 100;
  font-family: 'IBM Plex', monospace;
  /* font-family: 'IBM Plex Mono', monospace; */
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  font-size: .9em;
  /* color: white; */
  margin-right: 2px;
}


u {
  background-color: #d9ffc8 !important;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  font-size: .9em;
  display: block;
  text-decoration: none;
  padding-top: 5px;
  text-align: center !important;
  padding-bottom: 5px;
}

th tr td {
  border: 2px solid rgb(0, 0, 0);
}


tbody :nth-child(even) td {
  background-color: #ececec;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Ibm Plex Mono';
  font-size: 13px;
  font-weight: bold;
}

th {
  font-size: 1em;
}

.table a {
  display: block;
  text-decoration: none;
}

.principleDescription {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
  max-width: 600px;
}

.principleTable {
  border: none;
}

.principleTable tr,
td,
th {
  border: none;
}

.dependencyTable th {
  background-color: #ffdfae;
}

.platformTable th {
  background-color: #d9ffae;
}

.cards {
  margin-right: auto;
  margin-left: auto;
}

.container-narrow {
  margin: 0 auto;
  min-width: 300px !important;
  max-width: 1300px !important;
}

.container-content {
  padding-top: 60px;
}

.container-narrow>hr {
  margin: 30px 0;
}

.navbar .nav {
  float: right;
}

.navbar .ui {
  padding: 0;
}

.navbar-inner {
  border: none;
  border-radius: 0;
}

.brand {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  color: rgb(255, 255, 255) !important;
  /* Overrides bootstrap.min.css */
  text-shadow: none;
  text-rendering: geometricPrecision;
  font-weight: normal;
}

/* posts index */
.post>h3.title {
  position: relative;
  padding-top: 10px;
}

.post>h3.title span.date {
  text-align: center;
}

.post>.more {
  margin: 10px 0;
  text-align: left;
}

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.tag_box li {
  line-height: 28px;
}

.tag_box li i {
  opacity: 0.9;
}

.tag_box.inline li {
  float: left;
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

.tag_box a:hover {
  background-color: #e5e5e5;
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}

.content {
  padding: 60px;
  background-color: white;
}

blockquote {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(200, 200, 200);
  color: rgb(100, 100, 100);
  padding-left: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
}

blockquote p {
  font-size: 20px;
  line-height: 30px;
  font-family: 'IBM Plex Mono', sans-serif !important;
}

.introtext {
  color: rgb(0, 0, 0);
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: rgb(3, 3, 3);
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: rgb(0, 0, 0);
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 17px;
  line-height: 26px
}

/*
.##.....##.########....###....########..########.########.
.##.....##.##.........##.##...##.....##.##.......##.....##
.##.....##.##........##...##..##.....##.##.......##.....##
.#########.######...##.....##.##.....##.######...########.
.##.....##.##.......#########.##.....##.##.......##...##..
.##.....##.##.......##.....##.##.....##.##.......##....##.
.##.....##.########.##.....##.########..########.##.....##
*/

h2,
h3,
h4,
h5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  text-rendering: geometricPrecision;
  font-size: 2.3em;
  padding-bottom: 30px;
  margin-top: 60px;
  font-size: 3.4em;
  font-family: 'Rubik', sans-serif;
}


h4 {
  font-size: 1.8em !important;
}

/*
..######..########.##......
.##....##.##.......##......
.##.......##.......##......
..######..######...##......
.......##.##.......##......
.##....##.##.......##......
..######..########.########
*/

p::-moz-selection {
  background: #fff2a8;
}

p::selection {
  background: #fff2a8;
}

strong::selection {
  background: #fff2a8;
}

a::selection {
  background: rgb(238, 252, 255);
}

h2::selection {
  background: black;
  color: white;
}

blockquote p::selection {
  background: #e5caff;
}

code {
  background-color: rgb(27, 25, 27) !important;
  color: white;
  background-color: inherit !important;
  /* color: white; */
  /* margin: 20px !important; */
}

pre {
  color: white;
  background-color: #a996c0;
  padding: 40px;
}

.page-header {
  padding-top: 50px;
  text-align: center;
  font-style: italic;
}

.principle-desription {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 40px;
  line-height: 40px;
  color: gray;
}

/*
.......##..######..########.########..########.########
.......##.##....##....##....##.....##.##.......##......
.......##.##..........##....##.....##.##.......##......
.......##..######.....##....########..######...######..
.##....##.......##....##....##...##...##.......##......
.##....##.##....##....##....##....##..##.......##......
..######...######.....##....##.....##.########.########
*/

.jstree-container-ul.jstree-children {
  padding-left: 10px;
}

.jstree-default .jstree-clicked {
  background: #fffe9e !important;
}

.jstree-default .jstree-hovered {
  background: #fffe9e !important;
}

li a {
  font-size: 1em;
}

.aka {
  font-style: italic;
  color: grey;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Style page content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}


/*
.##......##.########.########..##....##.####.########
.##..##..##.##.......##.....##.##...##...##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.######...########..#####.....##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.##.......##.....##.##...##...##.....##...
..###..###..########.########..##....##.####....##...
*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightcoral;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/*
..######..##....##.########.########..######..##.....##.########....###....########.
.##....##.##...##..##..........##....##....##.##.....##.##.........##.##...##.....##
.##.......##..##...##..........##....##.......##.....##.##........##...##..##.....##
..######..#####....######......##....##.......#########.######...##.....##.########.
.......##.##..##...##..........##....##.......##.....##.##.......#########.##.....##
.##....##.##...##..##..........##....##....##.##.....##.##.......##.....##.##.....##
..######..##....##.########....##.....######..##.....##.##.......##.....##.########.
*/

.sketchfab-embed-wrapper {
  /* padding: 30px; */
}

.sketchfab-embed-wrapper iframe {
  min-width: -webkit-fill-available;
  min-height: -webkit-fill-available;
}

/*
.########...######.
.##.....##.##....##
.##.....##.##......
.########...######.
.##.....##.......##
.##.....##.##....##
.########...######.
*/

.btn-outline-secondary {
  color: #3c3c3c;
  border: none;
}

/*
..######.....###....########..########...######.
.##....##...##.##...##.....##.##.....##.##....##
.##........##...##..##.....##.##.....##.##......
.##.......##.....##.########..##.....##..######.
.##.......#########.##...##...##.....##.......##
.##....##.##.....##.##....##..##.....##.##....##
..######..##.....##.##.....##.########...######.
*/

.heading-home {
  margin-top: 10px;
}

.card-project {
  border-color: lightcoral !important;
}

.card-home {
  border-width: 2px !important;
  border-style: dashed !important;
  border-radius: 0 !important;
  font-family: 'IBM Plex Mono', monospace !important;
}

.card-header {
  text-align: center;
}

.card-home a {
  background-color: #ffbea6;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px, 5px, 5px, 5px; 
}

.card-home p{
  font-size: 1rem;
  padding: 5px;
  font-family: 'IBM Plex Mono', monospace !important;

}

.card-home .card-header {
    padding: 0 !important;
    background-color: white !important;
    border-bottom: none;
}

.card-img-top {
  max-height: 250px !important;
  width: auto !important;
  padding-top: 20px !important;
}