---
layout: wrapper
---

<!-- CONTENT -->
<div class="container container-narrow container-content">
  <div class="content" style="text-align: center;">
    <h2>{{ page.title }}</h2><br>
    {{ content }}
  </div>
  <hr>
  <div class="container section">
      <h5 style="text-align: center;" data-background-color="#27ae60">Field Guides</h5><br>
    <div class="row">
        {% for page in site.pages %}
      <div class="card" style="width: 16rem; margin-bottom: 2%;">
          <img class="card-img-top" src="{{ BASE_PATH }}/assets/images/286x180.png" alt="Field Guide">
          <div class="card-body">
            <h5 class="card-title">{{page.title}}</h5>
            <p class="card-text">{{page.description}}</p>
            <a href="{{page.url}}" class="btn btn-primary">Open</a>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>